.topic-detail .card{
    margin-bottom: 24px;
    width: 90%;
}

.topic-detail h1{
    font-size: 2em;
}

.topic-detail .topic-header{
    background-color: rgba(33,37,41,0.03);
    border-radius: 5px;
}